/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/api/
/pkg/
/spec/reports/
/tmp/
/vendor/
/gemfiles/vendor/
/Gemfile.lock
*.gemfile.lock

billomat*.gem

# rspec failure tracking
.rspec_status

# Mac
.DS_Store